.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "bbb" do
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .groups
    .group
      %p.group__group-name sampleサンプル
      %p.group__latest-messarge メンター様
    .group
      %p.group__group-name sample2サンプル２
      %p.group__latest-messarge 見てくださり