.wrapper {
  height: 100vw;
  width: 100vw;
}

.chat-side {
  width: 300px;
  color: #ffffff;
  float: left;
}

.side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    &__user-name {
      font-size: 16px;
    }
    &__menu {
      display: flex;
      &__new-group {
        margin-left: 0.3rem;
      }
      &__edit-user {
        margin-left: 0.3rem;
      }
    }
  }
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
}

.group {
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: bold;
  &__group-name {
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__latest-messarge {
    font-size: 11px;
  }
}

.chat-main {
  background-color: #fafafa;
  float: left;
  width: calc(100vw - 300px);
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eeeeee;
  &__left-box {
    margin-top: 35px;
    &__current-group {
      font-size: 20px;
      color: #333333;
      margin-bottom: 15px;
    }
  }
}